.container {
  max-width: 600px;
  margin: 30px auto;
}
.app {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 20px;
  font-family: "Inconsolata", monospace;
  color: black;
}
form {
  float: right;
}
#last {
  font-size: 15px;
}
.enter {
  border: 1px solid #f7f7f7;
}

.butt {
  border: 1px solid #f7f7f7;
}
h1,
#time {
  font-weight: bold;
}
h2 {
  font-size: 20px;
}
#icon {
  float: left;
  width: 90px;
}
.temperature {
  margin: 0 0 30px 0;
}
.celsius {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.celsius:hover {
  text-decoration: none;
  color: #19b54c;
}

.farenheit {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.farenheit:hover {
  text-decoration: none;
  color: #19b54c;
}

.celsius.active,
.farenheit.active {
  text-decoration: none;
  color: black;
}

.celsius.active:hover,
.farenheit.active:hover {
  cursor: default;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#sky {
  text-transform: capitalize;
  font-size: 15px;
}
.marta {
  text-decoration: none;
  color: #19b54c;
}
.marta:hover {
  text-decoration: underline;
  color: #19b54c;
}
#week {
  margin: 30px;
}
small {
  margin: 0 5px 00;
}
strong {
  font-size: 50px;
  padding: 0 0 0 7px;
}
.units {
  position: relative;
  top: -28px;
}
