h1 {
  color: blue;
}
.sun {
  color: yellow;
  font-size: 50px;
}
.temperature {
  margin: 0 0 30px 0;
}
ul {
  list-style: none;
}
.marta {
  text-decoration: none;
  color: blueviolet;
}
.marta:hover {
  text-decoration: underline;
  color: blueviolet;
}
